@font-face {
    font-family: 'Switch';
    src: url('./nintendo_switch.ttf');
}
html, body {
    overflow: auto;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Switch';
}

#root {
    height: 100%;
}