.PageScroll {
    margin-left: 10%;
    border: 2px solid black;
    display: block;
    overflow: auto;
    height: 400px;
    width: 100%;
    position: absolute;
}

.single-page {
    border: 2px solid red;
    display: inline-block;
    height: 100%;
    width: 400px;
}