.icon-whole-display {
    width: auto;
}
.icon-wrap {
    margin: 0 auto;
    border-radius: 50%;
    padding: 20px;
    background-color: white;
    width: 100px;
    height: auto;
}

.icons {
   height: 50px;
}

.icon-name {
    width: auto;
    padding-top: 15px;
}

@media screen and (max-width: 769px) {
    .icon-whole-display{
        padding: 0;
    }
    .icon-wrap {
        width: 50px;
        padding: 10px;
    }
    
    .icons {
        height: 25px;
    }
    .icon-name {
        font-size: 12px;
    }
}