.icon-whole-display {
    width: auto;
}

.icon-wrap {
    /* border: 1px solid blue; */
    margin: 0 auto;
    border-radius: 50%;
    padding: 20px;
    background-color: white;
    width: 100px;
    height: auto;
}

.icons {
   height: 50px;
}

.icon-name {
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .icon-whole-display {
        margin: 0;
    }
}