.IndividualIcon {
  width: auto;
}

.IndividualIcon__iconWrap {
  margin: 0 auto;
  border-radius: 50%;
  padding: 20px;
  background-color: white;
  width: 100px;
  height: auto;
}

.IndividualIcon__iconWrap--hovered {
  animation-name: borderChange;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.IndividualIcon__iconWrap__icon {
  height: 50px;
}

.IndividualIcon__iconName{
  color: turquoise;
  font-weight: bold;
  width: auto;
  padding-top: 15px;
}

@media screen and (max-width: 769px) {
  .IndividualIcon {
    padding: 0;
  }
  .IndividualIcon__iconWrap {
    width: 50px;
    padding: 10px;
  }

  .IndividualIcon__iconWrap__icon {
    height: 25px;
  }
  .IndividualIcon__iconName {
    font-size: 12px;
  }
}

@keyframes borderChange {
  0% {
    border: 4px solid cyan;
  }
  50% {
    border: 4px solid turquoise;
  }
  100% {
    border: 4px solid cyan;
  }
}
