.TitleLogo__logoWrap {
    padding: 5px;
    display: inline-block;
    background-color: red;
    border-radius: 50%;
}

.TitleLogo__logoWrap__mainLogo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.TitleLogo__mainTitle {
    display: inline-block;
    font-size: 32px;
    padding: 0 10px;
    letter-spacing: 2px;
    color: #222222;
    font-weight: bold;
} 