.PageCards {
  padding: 10px 95px;
  white-space: nowrap;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.individual-card {
  display: inline-block;
  text-align: center;
}

.page-title {
  font-size: 18px;
  margin: 0 0 10px 10px;
  font-weight: bold;
  color: turquoise;;
  overflow: hidden;
  height: 25px;
}

.page-link {
  border: 4px solid white;
  padding: 5px;
  height: 255px;
  width: 255px;
  margin: 0 7px;
}

.page-border {
  /* border: 4px solid cyan; */
  animation-name: borderChange;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes borderChange {
  0% {border: 4px solid cyan;}
  50% {border: 4px solid turquoise;}
  100% {border: 4px solid cyan;}
}

/* I wanted the list of pages to scroll without the scrollbar but for now I would have to leave it because the mouse wheel doesn't scroll horizontally with it. */
/* .PageCards::-webkit-scrollbar {
  height: 0px;
  width: 0px;
} */
